VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_API_URL=

SUPABASE_SERVICE_KEY=
SUPABASE_DB_URL=
SUPABASE_URL=

YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=

SMTP_USER=
SMTP_PASSWORD=

REDIS_HOST=
REDIS_PORT=