@font-face {
  font-family: 'Exo 2';
  src: local('Exo 2'),
    url('./fonts/Exo2-VariableFont_wght.ttf');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2';
  src: local('Exo 2'),
    url('./fonts/Exo2-Italic-VariableFont_wght.ttf');
  font-weight: 100 900;
  font-style: italic;
}

:root {
  --primary-bg: #0d0d0d;
  --secondary-bg: rgba(30, 30, 30, 0.8);
  --accent-blue: #00a2ff;
  --accent-purple: #9d4edd;
  --text-primary: #ffffff;
  --text-secondary: #b3b3b3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: var(--primary-bg);
  color: var(--text-primary);
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
}